<div class="footer-banner">
  <div class="_demo--container footer-container">
    <div class="footer-title">Team</div>
    <table class="table table-stripped table-hover">
      <tbody>
          <tr>
            <td><img src="/images/team/ron.png" alt="Ron Poznansky" class="banner--service-icon"/></td>
            <td><img src="/images/team/anthony.png" alt="Anthony P Stevens" class="banner--service-icon"/></td>
            <td><img src="/images/team/neeraja.jpg" alt="Neeraja Ganesan" class="banner--service-icon"/></td>
            <td><img src="/images/team/alyssa.jpg" alt="Alyssa Simpson" class="banner--service-icon"/></td>
            <td><img src="/images/team/ryan.png" alt="Ryan R Anderson" class="banner--service-icon"/></td>
            <td><img src="/images/team/rob.png" alt="Rob Murgai" class="banner--service-icon"/></td>
            <td><img src="/images/team/stephan.png" alt="Stephan J Roorda" class="banner--service-icon"/></td>
          </tr>
          <tr>
            <td>Ron Poznansky</td>
            <td>Anthony Stevens</td>
            <td>Neeraja Ganesan</td>
            <td>Alyssa Simpson</td>
            <td>Ryan Anderson</td>
            <td>Rob Murgai</td>
            <td>Stephan Roorda</td>
          </tr>
        </tbody>
    </table>
  </div>
</div>
