extends ./layout.jade

block content
  .tab-panels.tab-views(role='tabpanel')
    ul.tab-panels--tab-list.tab-views--tab-list(role='tablist')
    .tab-panels--tab-content
      include ./includes/use.jade
